<div class="event-date">
  <span class="event-day"><%= l event.start_date, format: "%d" %></span>
  <span class="event-month"><%= l event.start_date, format: "%b" %></span>
  <% if event.start_date.year != Time.now.year %>
      <span class="event-year"><%= event.start_date.year %></span>
  <% end %>
</div>