<%- model_class = Event -%>

<% if @event.unreasonably_long %>
  <div class="panel panel-warning">
    <div class="panel-body">
      <%= t 'events.notices.unreasonable_timespan' %>
    </div>
  </div>
<% end %>

<%= render :partial => 'show_event_large' %>

<% if can? :view_applicants, Event %>
  <%= render :partial => 'applicants_overview' %>
<% end %>

<%= render :partial => 'material_area' %>