/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#applicant_details dt {
    width: 200px;
    white-space: normal;
}

#applicant_details dd {
    margin-left: 220px;
}

img.eating-habit--icon {
	width: 20px;
	height: auto;
}

img.eating-habit--icon[data-toggle=popover] {
	cursor: pointer;
}

ul#eating-habit--list {
	list-style: none;
}

ul#eating-habit--list > li {
	display: inline;
	float: left;
	margin-left: 3px;
}

.application-details-table.table {
  table-layout: fixed;
}
.application-details-table.table td, .application-details-table.table th {
  border: none;
  padding: 5px;
}
