/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#applicant_details dt {
    width: 200px;
    white-space: normal;
}

#applicant_details dd {
    margin-left: 220px;
}