/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 *= require bootstrap_and_overrides
 */

label.required:after {
    content:" *";
    color: red
}


body, footer, main, .front-section {
    width: 100%;
}

footer.front-section {
    border: none;
}
footer {
    margin-top: 120px;
}
.m-l-1 { margin-left: 15px; }
.m-r-1 { margin-right: 15px; }
.m-t-1 { margin-top: 15px; }
.m-b-1 { margin-bottom: 15px; }

.img-float-corner-tr {
    float: right;
    margin: 0 0 15px 15px;
}
@media (max-width: 768px) {
    .img-float-corner-tr {
        float: none;
        margin: auto;
        margin-bottom: 15px;
    }
}

