div, a, span, footer, header {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.modal, .popover.fade {
    display: none !important;
    transition: none !important;
}

.modal.in, .popover.fade.in {
    display: block !important;
    transition: none !important;
}

.modal-backdrop {
    display: none !important;
    transition: none !important;
}
