/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#applicants_overview {
    margin-bottom: 20px;
}
.tooltip-wrapper {
    display: inline-block;
}
.tooltip .btn[disabled] {
    pointer-events: none;
}