/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.event-date-picker-start, .event-date-picker-end {
	display: inline-block;
}

#event-add-date-picker {
	margin-top: 6px;
}

#applicants_overview {
    margin-bottom: 20px;
}
