
@footer-bg: lighten(#F7B21C, 30%);

footer {
    margin-top: 36px;
    padding-top: 36px;
    padding-bottom: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    background-color: @footer-bg;
}
footer .container {
    max-width: 600px;
}
footer .ignore {
    color: @footer-bg;
}
 
