#wsp-login-register-container {
    display: flex;
    flex-wrap: wrap;
}

#wsp-login-register-container > div[class*='col-'] {
    display: flex;
    flex-direction: column;
}

#wsp-login-panel {
    height: 100%;
}